<div id="name" class="introduction-container">
  <!-- Background image -->
  <img class="introduction-image" src="../../assets/images/JanaWorking.jpg" alt="Jana Jurakova makeup artist working">

  <!-- Overlay different darkness levels for mobile and desktop -->
  <div class="dark-overlay"></div>

  <!-- Title -->
  <div class="introduction-title">Makeup is art!</div>

  <!-- Introduction -->
  <div class="introduction-text">
    As a makeup artist I have the power to turn my brides into the most beautiful, confident and happy women on their special day.
  </div>

  <!-- Get in touch button -->
  <a href="tel:+44729447156" class="get-in-touch">Get in touch</a>
</div>
