$highlight-color: #C22485;
$white-color: #FFFFFF;
$gray-color: #313131;
$padding-amount: 50px;

.top-nav {
  overflow: hidden;
  padding: 30px 50px;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.4);


  @media screen and (min-width: 500px) {
    padding: 0;
  }

  .menu-item,
  .menu-toggle {
    //border: 1px solid purple;
    display: block;
    border-bottom: 3px solid $white-color;
    float: left;
    padding: 14px 16px;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    color: $gray-color;
    font-weight: 500;

    @media screen and (min-width: 500px) {
      padding: $padding-amount 16px;
    }
  }

  .menu-item {
    &.active,
    &:focus,
    &:hover {
      border-bottom-color: $highlight-color;
    }
  }

  .logo {
    width: 200px;
    background: url("../../assets/images/logo.jpg") no-repeat;
    background-size: cover;
    height: 70px;

    &.active,
    &:focus,
    &:hover {
      border-bottom-color: $white-color;
    }

    @media screen and (min-width: 500px) {
      height: auto;
    }
  }

  // TODO - Fix this inverted responsive part
  // Hide menu items except the logo
  @media screen and (max-width: 500px) {
    .menu-item {
      &:not(.logo) {
        display: none;
      }
    }
  }

  // Position toggle
  .menu-toggle {
    //float: right;
    //display: block;
    position: absolute;
    right: 30px;
    top: 55px;
    background-color: $highlight-color;
    color: $white-color;
    border: 0;
    border-radius: 50px;

    @media screen and (min-width: 500px) {
      display: none;
    }
  }

  // Open the menu
  &.openMobileMenu {
    position: relative;
    padding: 50px;

    // Top corner for toggle
    .menu-toggle {
      position: absolute;
      //right: $padding-amount;
      //top: 55px;
      background-color: $white-color;
      border: 3px solid $highlight-color;
      color: $highlight-color;

      &.active,
      &:focus,
      &:hover {
        background-color: $highlight-color;
        color: $white-color;
      }
    }

    // Show all the menu items
    .menu-item {
      //display: block;
      display: inline-block;
      padding: 5px 5px;
      margin: 10px 16px;
      float: left;
      clear: left;
      text-align: left;
    }

    // Hide the logo
    .logo {
      display: none;
    }
  }
}
