<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav mat-elevation-z6"
      [fixedInViewport]="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'push'">
    <mat-toolbar role="heading">Menu</mat-toolbar>

    <mat-nav-list>
      <a mat-list-item routerLink="/home" routerLinkActive="active">Home</a>
      <a mat-list-item routerLink="/gallery-main" routerLinkActive="active">Gallery</a>
      <a mat-list-item routerLink="/contact" routerLinkActive="active">Contact</a>
    </mat-nav-list>

    <app-theme-changer class="theme-changer"></app-theme-changer>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z6">
      <button
        type="button"
        mat-icon-button
        aria-label="Toggle sidenav"
        matTooltip="Opens side navigation menu"
        [matTooltipShowDelay]="(isHandset$ | async) ? 200 : 800"
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side navigation toggle icon">menu</mat-icon>
      </button>
      <h1 class="title-center">{{title}}</h1>
    </mat-toolbar>

    <!-- Dynamic page content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
