/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

// http://mcg.mbitson.com/#!?mcgpalette0=%23c27ba0&themename=mcgtheme
$mat-custom-primary: (
  50 : #f4e2f0,
  100 : #e3b7d8,
  200 : #d087bf,
  300 : #bd57a5,
  400 : #ae3391,
  500 : #a00f7e,
  600 : #980d76,
  700 : #8e0b6b,
  800 : #840861,
  900 : #73044e,
  A100 : #ffa1db,
  A200 : #ff6ec8,
  A400 : #ff3bb5,
  A700 : #ff22ab,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #ffffff,
  )
);

$custom-primary: mat-palette($mat-custom-primary);
$custom-accent:  mat-palette($mat-blue-grey);
$custom-warn:    mat-palette($mat-red);

$custom-light-theme: mat-light-theme($custom-primary, $custom-accent, $custom-warn);
$custom-dark-theme: mat-dark-theme($custom-primary, $custom-accent, $custom-warn);

@include mat-core();

.custom-light-theme {
  @include angular-material-theme($custom-light-theme);
}

.custom-dark-theme {
  @include angular-material-theme($custom-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
